<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create application form</title>
</head>
<body>
<form id="ApplicationForm">
    <div class="ApplicationForm">
        <p>
            <label>Название:</label>
            <input type="text" name="title" />
        </p>
        <div class="question">
            <label>Вопрос:</label>
            <textarea name="questionText"></textarea>
            <input type="button" name="delQuestin" value="Удалить вопрос" />
            <input type="button" name="addAnswer" value="Добавить ответ" />
            <div class="answer">
                <label>Ответ:</label>
                <textarea name="answerText"></textarea>
                <input type="checkbox" name="answerCheck"/>
                <input type="button" name="delAnswer" value="Удалить ответ" />
            </div>
            <div class="answer" name="answer">
                <label>Ответ:</label>
                <textarea name="answerText"></textarea>
                <input type="checkbox" name="answerCheck"/>
                <input type="button" name="delAnswer" value="Удалить ответ" />
            </div>
        </div>
    </div>
    <input type="button" id="addQuestion" value="Добавить вопрос" />
    <br>
    <input type="submit" id="save" value="Сохранить" />
</form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/script.js"></script>
</body>
</html>